.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 70px;
    padding: 20px;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-top: 20px;
}

.checkout_button {  
    background-color: #FFD814;
    border-radius: 7px;
    height: 29px;
    border: none;
    cursor: pointer;
}

.checkout_button:hover {
    background-color: #f7ca00;
}

.checkout_button:active {
    background-color: white;
    border: 0.1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}


@media only screen and (max-width: 1050px) {
    .subtotal {
        width: 70%;
    }
}